<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a class="navbar-brand" href="#">🍷 Wine Predictor</a>
    <div class="ms-auto">
        <a class="btn btn-outline-warning me-2" href="/train">
            <i class="fas fa-cogs"></i> Train the Model
        </a>
        <a class="btn btn-outline-light me-2" href="https://github.com/anshu1016/DataScienceProject-BiolerPlate" target="_blank">
            <i class="fab fa-github"></i> Source Code
        </a>
        <a class="btn btn-outline-success" href="https://winequality.onrender.com" target="_blank">
            <i class="fas fa-play-circle"></i> Live App
        </a>
    </div>
</nav>